# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Testing
coverage
test/**/out*
e2e-tests
test/tmp/**

# Production
build
dist
tmp

# Editors
**/.idea
**/.#*

# Examples
examples/**/out
examples/**/.env*.local

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
pids
*.cpuprofile
